*{
    margin: 0;
    padding: 0;
    font-family:'Roboto Slab';
}
.upper{
    height:30vh;
    width:100%;
    background-color:#EDDBC7 ;
}
.uppernav{
    font-size: 9vh;
    padding-top: 10%;
    color: #6096B4;
}

.navigation{
height: 20vh;
width: 100%;
background-image: url("bg.jpg");
background-size: cover;
background-position: center;
border: 2px solid plum;
}
.logo{
    font-size: 30px;
    color:#D61355;

}
 span{
    color:#C147E9;
 }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    text-decoration:none ;
    color:#735F32;
    padding: 40px 10px;
    font-size: 30px;
}
button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.15em 0.50em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
   transform: translateY(0);
  }